<div class="container-fluid">
    <div *ngIf="isLoaded">
        <h3>Countries list
            <span *ngIf="!isAuthorised">(user panel)</span>
            <span *ngIf="isAuthorised">(admin panel)</span>
        </h3>

        <button *ngIf="isAuthorised" class="btn m-3 btn-success" (click)='onAddCountry()'>Create new country</button>
        <table class="table table-hover table-striper">
            <tr>
                <th>#</th>
                <th>Country</th>
                <th><button class='btn btn-primary' *ngIf="!isAuthorised" (click)='onEdit()'>Edit list</button>
                </th>
            </tr>
            <tr *ngFor="let country of CountryList; let i = index">
                <td>{{i+1}}</td>
                <td>{{country.name}}</td>

                <td>
                    <button class="btn btn-info mr-2 btn-sm" (click)='onRead(country)'>Read</button>

                    <button *ngIf="isAuthorised" class="btn btn-warning  mr-2 btn-sm" (click)='onEditCountry(country)'>Edit</button>
                    <button *ngIf="isAuthorised" class="btn btn-danger btn-sm" (click)='onDelete(country)'>Delete</button>

                </td>
            </tr>
        </table>
    </div>
    <div *ngIf="!isLoaded" class='text-center'>Loading...</div>
</div>