<div class="container-fluid">
    <h3>Front-end developer</h3>
    <div class='contacts row'>
        <div class="contacts__about col-md-8">
            <table class='table table-hover table-strinped'>
                <tr class='row'>
                    <th class='text-right col-4'>Name:</th>
                    <td class='col-8'>Serhey Patokha</td>
                </tr>

                <tr class='row'>
                    <th class='text-right col-4'>Location:</th>

                    <td class='col-8'>Kiev</td>
                </tr>
                <tr class='row'>
                    <th class='text-right col-4'>Age:</th>

                    <td class='col-8'>27</td>
                </tr>
                <tr class='row'>
                    <th class='text-right col-4'>Contacts:</th>

                    <td class='col-8'>Tel: +38(093)362-16-98<br> Email:
                        <a href="mailto:patokha91@gmail.com">patokha91@gmail.com</a></td>
                </tr>

            </table>
        </div>
        <div class='contacts__logo col-md-4'>

            <p>SP</p>
        </div>
    </div>
    <div class="row goal">
        <table class="table">
            <tr class='row'>
                <th class='col-2'>Objective:</th>
                <td class='col-10'>Getting a position of Front-End Developer to share my knowledge with a team for achieving common goal.
                </td>
            </tr>
            <tr class='row'>
                <th class='col-2'>Technologies:</th>
                <td class='col-10'>
                    <ul>
                        <li class='tip' *ngFor="let item of technologies">{{item.name}}
                            <span>{{item.description}}</span>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr class='row'>
                <th class='col-2'>Education:</th>
                <td class='col-10'><b>A Specialist's degree in National Aviation University.</b><br/> Mechanics and energy faculty, specialization on automation for pipeline transport.
                </td>
            </tr>
            <tr class='row'>
                <th class='col-2'>Expirience:</th>
                <td class='col-10'>
                    <b>August 2017 — Present (1 year, 2 month)</b><br>
                    <b>Web front-end developer (CyberBionic Systematics)</b>
                    <ul class='Expirience'>
                        <li>
                            Web-page design development <a href='itvdn.com'>itvdn.com</a>
                        </li>
                        <li>Development of the functionality web-test app. <a href='testprovider.com'>testprovider.com</a>
                        </li>
                        <li>Development training materials <a href='itvdn.com'>itvdn.com</a>
                        </li>
                        <li>Developing SPA projects using Angular CLI
                        </li>
                    </ul>
                    <hr>
                    <b>January 2018 — Present (10 month)              
                    </b><br>
                    <b>Senior trainer (CyberBionic Systematics)</b>
                    <ul>
                        <li>
                            Lection of material to students of training center, using coaching method
                        </li>
                        <li>Interim and final test for students to achieve storing material covered
                        </li>
                        <li>Selection, training and listening of teachers for the training center
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>