<div class="container-fluid">
    <div *ngIf="!auth.isAuth()">
        <h3>Sign in form</h3>

        <form novalidate [formGroup]='UserForm' (ngSubmit)='onSubmit(UserForm)'>
            <div class="form-group">
                <label for="login">Login</label>

                <input type="text" autocomplete="off" class="form-control" placeholder="User123" id="login" required formControlName="login">

                <div *ngIf="UserForm.get('login').hasError('required') && 
            UserForm.get('login').touched" class="alert alert-danger">
                    Please, enter your login account
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>

                <input type="password" class="form-control" id="password" required formControlName="password">

                <div *ngIf="UserForm.get('password').hasError('required') && 
                UserForm.get('password').touched" class="alert alert-danger">
                    Please, enter your password
                </div>
                <div *ngIf="UserForm.get('password').hasError('minlength') && 
    UserForm.get('password').touched" class="alert alert-danger">
                    Password must be 5 simbols min
                </div>
            </div>

            <div *ngIf="FormMessage.text" class="alert alert-{{FormMessage.type}}">{{FormMessage.text}}</div>
            <input type="submit" class="btn btn-primary" [disabled]="UserForm.invalid" value="Login">

        </form>
    </div>
    <div *ngIf="auth.isAuth()">
        <h3>Sign out</h3>
        <div class="form-group col-4">
            <label for="button">Now you are logged in</label>
            <input type="button" (click)='signOut()' class="btn btn-success form-control" value='Sign out' id="button">

        </div>
    </div>
</div>