:host {
    max-width: 200px;
    min-width: 200px;
    background: linear-gradient(to right, #c4e5ce, rgb(169, 247, 247), #81cdeb);
    animation: Gradient 25s ease infinite;
    color: black;
    display: flex;
    flex-direction: column;
    display: inline-block;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 10s ease;
    background-size: 400% 400%;
    position: relative;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

ul.main-menu {
    font-family: sans-serif;
    list-style: none;
    position: absolute;
    cursor: pointer;
    padding: 0px;
    width: 100%;
}

ul.main-menu li {
    background: transparent;
    padding: 15px 15px 15px 15px;
    border-bottom: 2px solid rgb(30, 139, 30);
    outline: none;
    transition: all 0.6s ease;
}

ul.main-menu li:hover {
    background: #aff3c4;
}

ul.main-menu li a {
    color: black;
    text-decoration: none;
}

.active {
    background-color: #38c262!important;
}

.active>a,
.active .icon {
    color: #fff!important;
}

.icon {
    float: right;
    line-height: 1.4;
}

@media only screen and (max-width: 650px) {
     :host {
        display: none;
    }
}